@import '@/components/Button/index.scss';
@import '@/components/Modals/index.scss';
@import '@/components/Select/index.scss';
@import '@/components/Input/index.scss';
@import '@/assets/scss/Account/index.scss';

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #E5E6E7;
}
#__nuxt {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.head{
  background-color: rgb(255, 255, 255);
  height: 115px;
  font-size: 16px;
  &_logo{
    text-decoration: none;
    margin-left: 84px;
    margin-top: 23px;
    color: black;
    text-align: left;
  }
  &_menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    color: black;
    margin-top: -75px;
    margin-right: 84px;
    &_but{
      background-color: #60617F;
      color: #ffffff;
      width: 121px;
      height: 55px;
      border-radius: 30px;
      font-size: 14px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 30px;
    }
  }
}
.banner{
  &_img{
    width: 100%;
    height: 674px;
    object-fit: cover;
    filter: brightness(50%);
    position: relative;
  }
  &_inf{
    position: absolute;
    color: rgb(255, 255, 255);
    left: 37%;
    top: 30%;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    font-size: 35px;
    margin-top: 40px;
    &_but{
      background-color: #ffffff;
      color: #000000;
      width: 439px;
      height: 66px;
      border-radius: 30px;
      font-size: 32px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
@font-face {
  font-family: 'OpenSans'; 
  src: url(/assets/Font/OpenSans.ttf); 
  }
