@import '@/components/Button/index.scss';
@import '@/components/Modals/index.scss';
@import '@/components/Select/index.scss';
@import '@/components/Input/index.scss';
@import '@/assets/scss/Account/index.scss';

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #E5E6E7;
}
#__nuxt {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.head{
  background-color: rgb(255, 255, 255);
  height: 115px;
  font-size: 16px;
  font-family: 'Ysabeau Office';
  font-style: normal;
  &_logo{
    text-decoration: none;
    margin-left: 84px;
    margin-top: 23px;
    color: black;
    text-align: left;
  }
  &_menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
    color: black;
    margin-top: -75px;
    margin-right: 84px;
    font-size: 16px;
    &_but{
      /* Rectangle 1 */

// position: absolute;
width: 121px;
height: 55px;
left: 1256px;
top: 33px;
background: #60617F;
border-radius: 30px;
color: #FFFFFF;
      font-size: 14px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 30px;
    }
  }
}
.banner{
  &_img{
    width: 100%;
    height: 674px;
    object-fit: cover;
    filter: brightness(50%);
    position: relative;
  }
  &_inf{
  /* Аренда помещений в торговом центре. */

position: absolute;
width: 667px;
height: 214px;
left: 99px;
top: 130px;

font-family: 'Ysabeau Office';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 107px;

color: #FFFFFF;



    &_but{
position: absolute;
top: 687px;

font-family: 'Carrois Gothic';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 43px;

color: #000000;

position: absolute;
width: 439px;
height: 66px;
top: 200%;

background: #FFFFFF;
border-radius: 30px;


    }
  }
}
@font-face {
  font-family: 'OpenSans'; 
  src: url(/assets/Font/OpenSans.ttf); 
  }
