@media screen and (max-width: 1680px){
.agr{
   display: flex;
   justify-content: center;
    &_block{
         background-color: rgb(255, 255, 255);
    width: 350px;
    border-radius: 20px;
    padding: 20px;
    margin: 30px;
        &_title{
            font-size: 25px;
            text-align: center;
        }
        &_info{
            font-size: 20px;
            padding-top: 10px;
        }
        &_btn{
            padding-top: 5px;
        }
    }
}
}
@media screen and (max-width: 320px){
    .agr{
       display: flex;
        &_block{
             background-color: rgb(255, 255, 255);
        width: 150px;
        border-radius: 20px;
        padding: 10px;
        margin: 10px;
            &_title{
                font-size: 15px;
                text-align: center;
            }
            &_info{
                font-size: 10px;
                padding-top: 10px;
            }
            &_btn{
                padding-top: 5px;
                font-size: 7px;
            }
        }
    }
    }
    @media screen and (max-width: 1024px){
        .agr{
           display: flex;
           justify-content: center;
            &_block{
                 background-color: rgb(255, 255, 255);
            width: 320px;
            border-radius: 20px;
            padding: 20px;
            margin: 30px;
                &_title{
                    font-size: 22px;
                    text-align: center;
                }
                &_info{
                    font-size: 20px;
                    padding-top: 10px;
                }
                &_btn{
                    padding-top: 5px;
                }
            }
        }
        }